.locations-page-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 30px 0;
   font-family: 'Montserrat', sans-serif;

   .locations-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 1080px;
      gap: 10px;
      padding-bottom: 30px;

      a {
         text-decoration: none;
         flex: 49%;
         height: auto;

         li {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-radius: 5px;
            color: white;
            background-color: #3c3e44;
            padding: 10px 20px;
            gap: 5px;

            &:hover {
               box-shadow: 0px 0px 10px 0px #fff;
            }
         }
      }
   }

   .buttons-container {
      display: flex;
      justify-content: center;
      gap: 10px;

      a {
         display: inline-block;
         text-decoration: none;
         background-color: #ffffff;
         border-radius: 10px;
         color: black;
         padding: 10px 20px;
         text-transform: uppercase;
         transition: 0.5s;
      }
   }
}
